<div class="dashboard-container">
  <nav class="navbar">
    <h1>🎬 WatchOut</h1>
    <button (click)="onLogout()" class="logout-btn">Log Out</button>
  </nav>

  <div class="content">
    
    <div class="search-container">
      <input 
        type="text" 
        placeholder="Search for a movie..." 
        (input)="onSearch($event)" 
        class="search-input"
      >
    </div>

    <h2>Now Playing</h2>

    <div *ngIf="movies.length === 0" style="color: #ccc; text-align: center; padding: 20px;">
      <p>No movies found.</p>
    </div>

    <div class="movie-grid">
      <div class="movie-card" *ngFor="let movie of movies" [routerLink]="['/movie', movie._id]">
        
        <div class="image-container">
           <img [src]="movie.posterPath" alt="{{ movie.title }}" 
                onerror="this.src='https://via.placeholder.com/200x300?text=No+Image'">
        </div>
        
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p class="rating">⭐ {{ movie.rating }}</p>
          <p class="date">{{ movie.releaseDate }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
